.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
}

.example-list {
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.title {
  width: 151px;
  height: 22px;
  margin: 1px 270px 25px 0;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
}

.skill-wrapper {
  padding: 30px;
}
.skill-container {
  display: inline-flex;
  flex-direction: column;
}
.save-btn {
  width: 109px;
  height: 48px;
  margin: 5px 182px 13px 10px;
  /* padding: 19px 36px 17px; */
  border-radius: 24px;
  border: solid 2px #f88634;
  background-color: #fff;
  color: #f88634;
}
.cancel-btn {
  width: 119px;
  height: 48px;
  margin: 5px 10px 13px 1px;
  /* padding: 18px 34px 17px 33px; */
  border-radius: 24px;
  border: solid 2px #757575;
  background-color: #fff;
  color: #757575;
}
