<nav class="navbar navbar-expand-lg">
  <!-- <div class="container-fluid"> -->
    <form class="d-flex search">
      <input class="form-control" type="search" placeholder="Search" />
    </form>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <div class="form-group">
            <select class="form-select" id="exampleSelect1">
              <option>Skill</option>
            </select>
          </div>
        </li>
         <li class="nav-item">
          <div class="form-group">
            <select class="form-select" id="exampleSelect1">
              <option>City</option>
            </select>
          </div>
        </li>
         <li class="nav-item">
          <div class="form-group">
            <select class="form-select" id="exampleSelect1">
              <option>Theme</option>
            </select>
          </div>
        </li>
         <li class="nav-item">
          <div class="form-group">
            <select class="form-select" id="exampleSelect1">
              <option>Country</option>
            </select>
          </div>
        </li>
      </ul>
    </div>
  <!-- </div> -->
</nav>
