form {
  padding: 30px;
  width: 586px;
}
.title {
  width: 183px;
  height: 23px;
  margin: 0 25px 25px 0;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
}
.cancel-btn {
  width: 119px;
  height: 48px;
  margin: 30px 10px 0 25px;
  /* padding: 18px 34px 17px 33px; */
  border-radius: 24px;
  border: solid 2px #757575;
  background-color: #fff;
  color: #757575;
}
.submit-btn {
  width: 150px;
  height: 48px;
  margin: 30px 14px 0 10px;
  /* padding: 15px 24px 14px 23px; */
  border-radius: 24px;
  border: solid 2px #f88634;
  color: #f88634;
  background-color: #fff;
}
