<form [formGroup]="forgotPasswordForm" (ngSubmit)="changePassword()">
  <div class="container">
    <p class="title">Change Password</p>
    <div class="row mb-4">
      <div class="col">
        <input
          type="password"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="name"
          name="name"
          placeholder="Enter old password"
          formControlName="currentPassword"
        />
        <span
          style="color: red"
          *ngIf="
            currentPassword &&
            currentPassword.invalid &&
            currentPassword.touched
          "
        >
          This field is required
        </span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input
          type="password"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="price"
          placeholder="Enter new password"
          formControlName="newPassword"
        />
        <span
          style="color: red"
          *ngIf="newPassword && newPassword.invalid && newPassword.touched"
        >
          This field is required
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="confirmPassword"
          placeholder="Enter confirm password"
          formControlName="confirmPassword"
        />
        <span
          style="color: red"
          *ngIf="
            confirmPassword &&
            confirmPassword.invalid &&
            confirmPassword.touched
          "
        >
          This field is required
        </span>
      </div>
    </div>
  </div>
  <button type="button" (click)="closeDialog()" class="btn btn-primary cancel-btn">Cancel</button>
  <button type="submit" class="btn btn-primary submit-btn">Submit</button>
</form>
